<%# CSS・・・assets/stylesheets/shared/header.css %>
  <header id="header">
    <h1 class="site-title">
      <%= link_to 'UrsaMinor', root_path, class: 'site-name' %>
    </h1>
    <nav>
      <ul>
        <li><%= link_to 'Bear', "#", aria_label: "熊出没情報" %></li>
        <li><%= link_to 'Community',   "#", aria_label: "地域交流" %></li>
        <li><%= link_to 'Contact', contact_index_path, aria_label: "コンタクト" %></li>
        <li><%= link_to 'My-page', "#", aria_label: "マイページ" %></li>
        <li><%= link_to 'Sign-in',   "#", aria_label: "ログイン" %></li>
    </nav>
  </header>