<%# CSS・・・assets/stylesheets/shared/header.css %>
  <header id="header">
    <h1 class="site-title">
      <%= link_to 'UrsaMinor', root_path, class: 'site-name' %>
    </h1>
    <nav>
      <ul>
        <li><%= link_to '熊情報', new_user_session_path, class: "Bear" %></li>
        <li><%= link_to '地域交流', new_user_session_path, class: "Community" %></li>
        <li><%= link_to 'コンタクト', contact_index_path, class: "Contact" %></li>
        <li><%= link_to 'マイページ',  user_index_path, class: "My-page" %></li>
        <li><%= link_to 'ログイン', new_user_session_path, class: "sign-in" %></li>
    </nav>
  </header>

