<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
<link rel="stylesheet" href="<%= asset_path 'reset.css' %>">
<link rel="stylesheet" href="<%= asset_path 'style.css' %>">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  />
</head>
  <body style="background-image: url('/assets/background.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
  <%= render "shared/header" %>
  <div class="contacts">
    <div class="guide">
      <div class="guide-title">お問い合わせフォーム</div>
      <div class="guidanse-main">情報修正の際お使いください</div>
    </div>
    <div class="info">
      <div class="side-box">
        <div class="sns-links">
          <div class="guidanse">SNSも活用いただけます</div>
          <div class="wrapper"> 
            <div class="button">
              <a href="https://www.facebook.com/profile.php?id=100067507490856" target="_blank" rel="noopener noreferrer"> 
                <div class="icon"><i class="fab fa-facebook-f"></i></div>
                <span>Facebook</span>
              </a>
            </div>
            <div class="button">
              <a href="https://twitter.com/Masa_R_" target="_blank" rel="noopener noreferrer"> 
                <div class="icon"><i class="fab fa-twitter"></i></div>
                <span>Twitter</span>
              </a>
            </div>
            <div class="button">
              <a href="https://www.instagram.com/suzuiki_r_masakuni" target="_blank" rel="noopener noreferrer"> 
                <div class="icon"><i class="fab fa-instagram"></i></div>
                <span>Instagram</span>
              </a>
            </div>
            <div class="button">
              <a href="https://github.com/Kogayo" target="_blank" rel="noopener noreferrer"> 
                <div class="icon"><i class="fab fa-github"></i></div>
                <span>Github</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="side-box">
        <%= form_with model: @user, class: "sns-links", local: true do |f| %>
          <%= f.text_field :name, class: "feedback-input", placeholder: "Name" %>
          <%= f.email_field :email, class: "feedback-input", placeholder: "Email" %>
          <%= f.text_area :comment, class: "feedback-input", placeholder: "Comment" %>
          <%= f.submit "送  信", class: "contact-btn" %>
        <% end %>
      </div>
    </div>
  </div>
  <%= render "shared/footer" %>
</body>
</html>
